.image {
  display: flex;
  flex: 0.1;
  justify-content: flex-start;
}
.project_name {
  display: flex;
  flex: 0.7;
  justify-content: center;
}

.employee {
  display: flex;
  align-items: center;
}
