.loginpage {
  display: flex;
  flex-direction: row;
}
.name {
  display: flex;
  flex: 0.5;
  flex-direction: row;
  justify-content: flex-start;
}
.signup {
  display: flex;
  flex: 0.5;
  flex-direction: row;
  justify-content: flex-end;
}
